body {
  font-family: Roboto, sans-serif;
  background: #fafafa;
  padding: 48px;
  color: #474747;
}

h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  margin: 0 0 40px 0;

  color: #222222;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.content__wrapper {
  position: relative;
  min-height: 400px;
}

.search {
  background: #fff;
  border-radius: 15px;
  height: 45px;
  padding: 10px 10px 10px 37px;
  margin: 0 0 30px 0;
  display: flex;
  align-items: center;
  color: #d1d1d1;
  font-size: 14px;
}

.header {
  &__grid {
    display: grid;
    grid-template-columns: 4fr repeat(2, 1fr) 2fr 1fr 1fr;
    padding: 10px;
  }
  &__section {
    button {
      cursor: pointer;
      font-weight: 500;
      font-size: 11px;
      text-transform: uppercase;
      background: transparent;
      border: 1px dashed transparent;
      border-radius: 3px;
      position: relative;
      span {
        padding: 2px 20px 2px 5px;
        border: 1px dashed transparent;
      }
      span:focus {
        outline: none;
      }
      &:focus {
        span {
          border: 1px dashed rgb(172, 172, 172);
        }
      }
    }
    &-sort-asc,
    &-sort-desc {
      button:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 5px;
        background: rgb(172, 172, 172);
        transform: translate(-5px, 5px) rotate(-45deg);
      }
      button:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 5px;
        background: rgb(172, 172, 172);
        transform: translate(-8px, 5px) rotate(45deg);
      }
    }
    &-sort-asc {
      button:before {
        transform: translate(-5px, 5px) rotate(45deg);
      }
      button:after {
        transform: translate(-8px, 5px) rotate(-45deg);
      }
    }
  }
}

.test {
  &__container {
    background: #fff;
    border-radius: 3px;
    margin-bottom: 5px;
    border-left: 4px solid #e14165;
  }

  &__grid {
    display: grid;
    grid-template-columns: 4fr repeat(2, 1fr) 2fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    margin: 0 0 0 -4px;
  }

  &__section {
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    padding: 5px;
  }

  &__section-name {
    h3 {
      font-size: 13px;
      font-weight: 500;
    }
  }

  &__section-type {
  }

  &__section-status {
  }

  &__section-status {
    font-weight: 500;
    text-transform: capitalize;
    &-online {
      color: #1bda9d;
    }
    &-stopped {
      color: #fe4848;
    }
    &-draft {
      color: #5c5c5c;
    }
    &-paused {
      color: #ff8346;
    }
  }

  &__button {
    border-radius: 10px;
    background: #2ee5ac;
    width: 95px;
    height: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    &-finalize {
      background: #7d7d7d;
    }
    &:focus {
      border: 1px solid black;
    }
  }
}
