body {
  font-family: Roboto, sans-serif;
  background: #fafafa;
  color: #474747;
}

.heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  margin: 0 0 40px 0;

  color: #222222;
}

.container {
  padding: 48px 0;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content__wrapper {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
